<body>
<form>
<fieldset>
<div class="container col-md-7">
    <form ><br/>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" style="color:white ;">Email Address</label>
    <input type="email" class="form-control" id="" name="" placeholder="name@example.com">
    
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" style="color:white ;" class="form-label">Password</label>
   <input type="password" class="form-control" name="password" >
 </div>
 <div class="rb">
 <input  type="radio" name="robot" value="robot"id="RB"> 
 <label style="color: white;"for="robot">I AM NOT A ROBOT</label>
</div>
<button type="submit" class="btn btn-primary" >Sign in</button>

 
<BR/><BR/><BR/><BR/><BR/><BR/>
<a href=""  style="color: WHITE;text-decoration: none;" class="psw"> Forgot password?</a>
<BR/>
 <a href="http://localhost:4200/registration-page" style="color: WHITE;text-decoration: none;" class="psw" > Create new account?</a>

 
 <div class="icons">
 <img  src="assets/img/facebookvf.png">
 <img src="assets/img/linkedin0.png">
 <img src="assets/img/twitter.png">

</div>
</form>
</div>
</fieldset>
</form>
</body>


