<body>
    <table>
        <tr>
            <th>
    <form>
    <fieldset>

        <div class="container col-md-7">
            <form ><br/>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" style="color:white;font-family: 'Inter';font-style: normal;">Week</label>
            <input type="text" class="form-control" id="" name="" >
            
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" style="color:white;font-family: 'Inter';font-style: normal;">Employee Name</label>
            <input type="text" class="form-control" id="" name="" >
            
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label" style="color:white;font-family: 'Inter';font-style: normal;">Employee Serial Number</label>
            <input type="text" class="form-control" id="" name="" >
            
        </div>

    

        <button type="submit" style="color:black;font-family: 'Inter';font-style: normal;" class="btn btn-primary" >Create Sheet</button>
        </form>
    </div>
    </fieldset>
</form>
</th>


<th>
    <input style="background-color:rgba(107, 255, 188, 0.7); border:rgba(107, 255, 188, 0.7);border-radius: 20px;position: absolute;
    width: 300px;
    height: 50px;
    left: 800px;
    top: 350px; ;color: black;font-family: 'Inter';font-style: normal;"  type="button"  class="btn btn-primary" value="consult other time sheets">
    
</th>
</tr>
</table>
</body>

