<body >
    <table>
    <tr>
        <th>
            
              <h4  style="color: white;" >YOU CAN ALSO SIGN UP USING</h4>
                <div class="icons">
                    <img style="width:115px ;margin-left:250px ;margin-top:60px;" src="assets/img/facebookvf.png">
                    <img  style="width:100px ;margin-top:60px;"src="assets/img/linkedinf.png">
                    <img  style="width:95px ;margin-top:60px;margin-left:8px;"src="assets/img/twitter1.png">
                </div>    
               
            <br>
                 <h3 style="color: white;">Already have an account?</h3>
                 
                    <button   type ="submit" class="btn btn-primary" ><a style="color:white ;text-decoration: none;" href="http://localhost:4200/login-page">sign in</a></button>
               
           
        </th> 
         
   
    <th>
    <form >
    <fieldset  >
    <div class="container col-md-7">
        <form ><br/>
            <div class="mb-3">
                <label for="exampleFormControlInput1" style="color:white ;" class="form-label">First Name</label>
                <input type="text" class="form-control" id="" name="">
             </div>
             <div class="mb-3">
                <label for="exampleFormControlInput1" style="color:white ;" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="" name="">
             </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label" style="color:white ;">Email Address</label>
        <input type="email" class="form-control" id="" name="" placeholder="name@example.com">
      
    </div>
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" style="color:white ;" class="form-label">Password</label>
        <input type="password" class="form-control" id="" name="">
     </div>
     <div class="mb-3">
        <label for="exampleFormControlInput1" style="color:white ;" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="" name="">
     </div>
     
    
    <input style="background-color:rgba(107, 255, 188, 0.7); border:rgba(107, 255, 188, 0.7);border-radius: 20px;position: absolute;
    width: 150px;
    height: 50px;
    left: 175px;
    top: 460px; ;"  type="button"  class="btn btn-primary" value="submit">
     
    <BR/><BR/><BR/><BR/><BR/><BR/>
    
    
     <!--<img src="facebook.png" alt="" usemap="#fb" width="" height="" name="">
     <map name="#fb"><area shape="rect"/></map>-->
     
    
    </form>
    </div>
    </fieldset>
</form>
</th>
</tr>
</table>
    </body>
    
    
    