
<body >
   
    <table>
        <tr>
            <th>
              <img id="imag" src="assets/img/calendrier.png">
            </th>

            <th> <div class="boxContainer">
                <table class="elementsContainer">
                    <tr>
                        <td>
                            <input type="text" placeholder="search" class="search">
                        </td>
                        <td>
                            <a href="#"><i class="material-icons"> </i></a>
                        </td>


                    </tr>

                </table>

                </div>
            </th>

            <th>
                <div id="menu">
                    <ul>
                        
                    <li style="float:right" type="button"><a href="https://my.corilus.be/s/?language=nl_BE" class="btn btn-type-1">Contact</a></li>  
                     <li style="float:right" type="button"><a href="http://localhost:4200/login-page" class="btn btn-type-1">Discover</a></li>
                     <li style="float:right" type="button"><a href="http://localhost:4200/login-page" class="btn btn-type-1">Join</a></li>

                </ul>
                  </div>
                  
                        
                
                
                <!--<h4>TIMESHEET WILL MAKE YOUR LIFE EASIER</h4>
                <h6 >Reduce until 20 operations per week in one click.</h6>-->


            </th>
        </tr>    
    </table>
</body>
