/* You can add global styles to this file, and also import other style files */
body{
    background-color: #1F2F37;
}
cr{
    position: absolute;
    width: 173px;
    height: 173px;
    left: 36px;
    top: 106px; 
}